project:
  type: website
  output-dir: docs

website:
  title: "Heitor C. Sousa"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - sidebar:research
      - href: publications.qmd
        text: "Publications"
        target: _blank
      - href: curriculum.qmd
        text: "CV"
        target: _blank

  sidebar:
    - id: research
      title: "Research"
      style: "docked"
      collapse-level: 2
      href: research.qmd
      target: _blank
      contents:
        - demography.qmd
        - community.qmd
        - fire.qmd
        - climchange.qmd
        - zoology.qmd
        - social.qmd
  page-navigation: true
  back-to-top-navigation: true
  page-footer: "Copyright 2025, Heitor C. Sousa"

format:
  html:
    theme: darkly
    css: styles.css
    toc: true
    
output: 
  html_document:
    includes:
       in_header: google_analytics.html

editor: visual
filters:
    - openlinksinnewpage
